<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Login" value="MyLogin" />
        <add key="ActiveWif" value="5**************************************************" />
        <add key="OwnerWif" value="5**************************************************" />
        <add key="1Url" value="wss://eu.openledger.info/ws" />
        <add key="Url" value="https://node.testnet.bitshares.eu" />
    </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
