div.col-md-9 h1:first-of-type {
  text-align: center;
  font-size: 60px;
}
div.col-md-9 > p:first-of-type
{
  text-align: center;
}
#bitshareslogo {
    background: url('../img/bitshares.png') no-repeat center 0;
    background-size: auto auto;
    background-size: 200px 75px;
    width: 200px;
    height: 100px;
}
#bitcoinlogo {
    background: url('../img/bitpaylogo.png') no-repeat center 0;
    background-size: auto auto;
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
}

#etheriumlogo {
    background: url('../img/etheriumlogo.png') no-repeat center 0;
    background-size: auto auto;
    background-size: 190px 150px;
    width: 190px;
    height: 150px;
}