.center {
  text-align: center;
}
div.col-md-9 > p:first-of-type
{
  text-align: center;
}
#bitcoinlogo {
    background: url('../Ditch/img/bitpaylogo.png') no-repeat center 0;
    background-size: auto auto;
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
}

#etheriumlogo {
    background: url('../Ditch/img/etheriumlogo.png') no-repeat center 0;
    background-size: auto auto;
    background-size: 190px 150px;
    width: 200px;
    height: 100px;
}