<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Login" value="joseph.kalu" />
    <add key="PostingWif" value="5JXCxj6YyyGUTJo9434ZrQ5gfxk59rE3yukN42WBA6t58yTPRTG" />
    <add key="ActiveWif" value="5JWfk8kQDz4s1TxRFSm5To9ckBEKQVWbnj9ieuyCdj6vE8s9o8Y" />
    <add key="1Url" value="https://api.steemit.com" />
    <add key="1Url" value="https://steemd.steepshot.org" />
    <add key="Url" value="https://api.steemitstage.com" />
  </appSettings>
</configuration>
