<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>  
    <add key="InfuraKey" value="48dad23382a24366b089a31c16e6c441" />
    <add key="InfuraMainnetHttps" value="https://mainnet.infura.io/v3/" />
    <add key="InfuraMainnetWss" value="wss://mainnet.infura.io/ws/v3/" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
