<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1215">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~\Configs\log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>

</configuration>