<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- go to http://jungle.cryptolions.io/#account to create new test account  (http://eosnetworkmonitor.io main net)-->
        <!--use KeyGenerator.GenerateKeys to get keys -->
        <add key="Login" value="ditchtest" />
        <add key="PrivateOwnerWif" value="5JMUaMyZNXRq7in6q2ruyMPmNyj1cS1T638Es5hF5EzTB3Ro17P" />
        <add key="PublicOwnerWif" value="EOS6JQaiy5wpCvwyBauN4odnyqcutboxMk2bYkC3e2nmUubBsBbZ8" />
        <add key="PrivateActiveWif" value="5HpybixN6DFwm13yovdsS26H6VbeTs3EXkynkPoV5zZ9vNpQiFZ" />
        <add key="PublicActiveWif" value="EOS7z5qpGxAKZRgDmVCc2p5VZocumssfDoFMi5BNEsSocFWu4dXB2" />
        <add key="ChainUrl" value="http://dev.cryptolions.io:18888" />

        <add key="Password" value="PW5JHYyBxBjm5W5nsB3gVBFki4dqZwRD1iF76kpfidABdRxJQksni" />
        <add key="WalletUrl" value="http://188.166.103.60:9090" />

        <add key="ScatterUrl" value="http://localhost:50005/scatter" />

    </appSettings>
</configuration>
