<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>

        <add key="ContractName" value="YouContractName" />
        <add key="Login" value="UserLogin" />
        <add key="PublicOwnerWif" value="EOS*********************" />
        <add key="PrivateOwnerWif" value="5***********************" />
        <add key="PublicActiveWif" value="EOS*****************" />
        <add key="PrivateActiveWif" value="5*****************" />
        <add key="Password" value="Password for Wallet" />
        <add key="ChainUrl" value="http://000.000.000.000:0000" />
        <add key="WalletUrl" value="http://000.000.000.000:0000" />

    </appSettings>
</configuration>
