<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Login" value="" />
    <add key="PostingWif" value="" />
    <add key="ActiveWif" value="" />
    <add key="Url" value="" />
  </appSettings>
</configuration>
