<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>

        <add key="ContractName" value="test" />
        <add key="Login" value="test" />
        <add key="PublicOwnerWif" value="***********************" />
        <add key="PrivateOwnerWif" value="***********************" />
        <add key="PublicActiveWif" value="*****************" />
        <add key="PrivateActiveWif" value="*****************" />
        <add key="Password" value="*************" />
        <add key="ChainUrl" value="http://000.000.000.000:0000" />
        <add key="WalletUrl" value="http://000.000.000.000:0000" />

    </appSettings>
</configuration>
