<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Login" value="ditch.test" />
    <add key="PostingWif" value="5KX6QUwtxn2TvjxT7R6GXyjmHZpBFacCY9TV3T7Bg5YQ64V8bhy" />
    <add key="ActiveWif" value="5JTQgtzuRTfDniVP24WnFro8ucGD3cFbgfp1Q9qX47gEywp9BU3" />
    <add key="Url" value="https://testnet.steem.vc" />
    <add key="ChainId" value="79276aea5d4877d9a25892eaa01b0adf019d3e5cb12a97478df3298ccdd01673" />
    <add key="KeyPrefix" value="STX" />
  </appSettings>
</configuration>
